<form name="myForm" class="form-horizontal" novalidate  role="form">
    <fieldset>
        <h2>Please enter your contact Information to participate to the contest. Participating to the contest means that you agrees with the Terms&Conditions. You agree that Microsoft use your mail for contest related purposes.</h2>
        <div class="form-group">
            <label for="email" class="col-sm-3 control-label">Email</label>
            <div class="col-sm-9">
                <input type="email" id="email" name="email" 
                       ng-model="Email" class="form-control" required
                       placeholder="Please put your email in" />
                <div ng-messages="myForm.email.$error" ng-if="myForm.email.$dirty" style="color:#ff6a00; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: 200; margin-top: 5px; font-style: italic" role="alert">
                    <div ng-message="email">This is not a proper Email address!</div>
                    <div ng-message="required"> Your email is required.</div>
                </div>
                </div>

            <label for="TeamName" class="col-sm-3 control-label">Your Team Name</label>
            <div class="col-sm-9">
                <input type="text" id="TeamName" name="TeamName"
                        ng-change="teamNameValidation()" 
                       ng-model-options="{ updateOn: 'default blur', debounce: {'default': 300, 'blur': 0}}"
                       ng-model="TeamName" 
                       class="form-control" 
                       required
                       ng-minlength="3" 
                       placeholder="Choose or create a team" />
                       <!-- team-name-validator -->
                    {{TeamValidationText}}             
                <div ng-messages="myForm.TeamName.$error" ng-if="myForm.TeamName.$dirty" style="color:#ff6a00; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: 200; margin-top: 5px; font-style: italic;" role="alert">
                    <div ng-message="minlength">Your Team Name is too short.</div>
                    <div ng-message="required"> Your Team Name is required.</div>                   
                </div>
         
            </div>
        </div>
        <h2>Specify a friend's teamname to join his team (In this case you won't receive any prize), Specify a new team name to create your own team and get your own prize!</h2>
    </fieldset>


    <div class="col-sm-offset-3 col-sm-9">
        <input type="button" class="btn btn-default"
               id="cancelButton"
               value="cancel"
               ng-click="cancelForm()" />
        <input type="button" class="btn btn-primary" value="{{button}}"
                 name="submitButton"
               id="submitButton"
               ng-disabled=" myForm.$pending||myForm.$invalid"
               ng-click="submitForm()" />
    </div>

</form>