body {
    width: 100%;
    height: 100%;
    /*background-image: url("/Content/img/bg.jpg");
    background-size: cover;
    background-position: 15% 15%;
    background-repeat: no-repeat;*/
    background-color: #000 !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

h1 {
    color: rgba(255,255,255,0.75);
    background-color: rgba(7, 208, 201, 0.25);
    margin: 0 !important;
    height: 80px;
    line-height: 80px;
    padding-top: 20px;
    margin-bottom: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}
h2 {
    font-size: 20px !important;
    font-weight: lighter !important;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

/*Added*/
.myBox {
    background-color: rgba(0, 0, 0, 0.5);
    border-style: solid;
    border-width: 2px;
    border-color: rgba(7, 208, 201, 0.25);
    overflow: hidden;
    -webkit-box-shadow: 5px 5px 0px 1px rgba(100,255,170,0.05);
    -moz-box-shadow: 5px 5px 0px 1px rgba(100,255,170,0.05);
    box-shadow: 5px 5px 0px 1px rgba(100,255,170,0.05);
    z-index: 1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;

    min-width: 100%;
    margin-bottom: 12.5%;
}

/*pTemplate*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background-color: #000;
    border-bottom-style: solid;
    border-bottom-color: rgba(7,208,201,.75);
    z-index: 3;
}
.headerlogo {
    position: relative;
    float: left;
    height: 60px;
    width: 150px;
    margin: 10px;
}
.bgdiv {
    position: fixed;
    left: 0;
    width: 100%;
    height: 1000px;
    margin-top: 90px;
    background-image: url("/Content/img/bg.jpg");
    background-position: 15% 15%;
    z-index: 0;
}
.container h1 {
    min-width: 100%;
    margin-bottom: 5px !important;
    line-height: 150%;
    border-bottom-style: solid;
    border-bottom-color: rgba(7,208,201,.75);
    border-bottom-width: 4px;
}
.body-content {
    position: relative;
    float: left;
    width: 100%;
    margin-top: 7.5%;
    overflow: hidden;
}
.body-content h1 {
    text-align: center;
    font-size: 30px;
}
.body-content h2 {
    margin: 0;
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: 4%;
    margin-right: 4%;
    text-align: justify;
}
fieldset {
    color: #7a7a7a;
    font-size: 15px;
}
.col-sm-9 {
    padding-bottom: 10px;
}
.col-sm-9 input {
    background-color: rgba(0,0,0,0.5);
}
.col-sm-9 input[placeholder] {
    color: #fff859;
}
.col-sm-9 input:focus {
    box-shadow: none;
    box-shadow: 1px 0px 3px 1px rgba(7,208,201,.5);
}
.col-sm-9 input[type="button"]{
    float: right;
    margin-bottom: 5px;
}
fieldset label {
    /*color: #fff859;*/
    color: #fff;
    font-weight: 600;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.form-horizontal {
    padding-left: 5%;
    padding-right: 5%;
    font-size: 18px;
}
.form-horizontal input[type="button"]{
   margin-left: 5px;
   margin-top: 5%;
}
#submitButton {
    background-color: rgba(7,208,201,.5);
    font-size: 15px;
    border-style: none;
}
#submitButton:hover {
    background-color: rgba(7,208,201,.75);
}
#cancelButton {
    background-color: rgba(255,255,255,.5);
    font-size: 15px;
    border-style: none;
}
#cancelButton:hover {
    background-color: rgba(255,255,255,.75);
}
/*.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    color: #fff;
    width: 100%;
    height: 90px;
    background-color: #000;
    padding-left: 10px;
    border-top-style: solid;
    border-top-color: rgba(7,208,201,.75);
    z-index: 1;
}
.footercontent {
    position: absolute;
    height: auto;
    min-height: 40px;
    width: 100%;
    bottom: 0;
    right: 0;
    padding-right: 10px;
    font-size: 14px;
    line-height: 40px;
}
.footercontent p, .footercontent img {
    position: relative;
    float: right;
    margin-left: 15px;
}
*/
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
    min-height: 50px;
    background-color: rgba(7, 208, 201, 0.05);
    clear: both;
    overflow: hidden;
    z-index: 1;
}
.footer ul {
    list-style-type: none;
    position: relative;
    width: 100%;
    height: inherit;
    margin: 0;
    padding: 0;
}
.footer ul li {
    position: relative;
    float: left;
    height: 50px;
    color: #fff;
    line-height: 50px;
    margin-left: 15px;
    font-weight: 600;
}

.footer ul li a {
    color: #fff;
}

.footer ul li a:hover, .footer ul li a:link, .footer ul li a:visited {
    text-decoration: none;
}

.footer ul li a:hover {
    color: #07d0c9;
}

#copyright {
    color: #fff;
    float: right;
    margin-right: 10px;
    font-weight: 200;
}
/*pLogged*/
.infomsg {
    margin-left: 4%;
    margin-right: 4%;
    font-size: 15px;
}
.infomsgnr {
    color: #fff859;
}
.infomsgprize {
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 25px;
    font-size: 15px;
    
}
.prizes {
    height: auto;
    width: auto;
    text-align: center;
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
}
.prizes h1 {
    height: auto;
    min-height: 20px;
    font-size: 20px;
    font-weight: 100;
    line-height: 45px;
    padding: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}
.prizesinfo {
    position: relative;
    height: auto;
    overflow: hidden;
    z-index: 1;
}
.prizesinfo p {
    height: auto;
    font-weight: 700;
    position: absolute;
    font-size: 120px;
    z-index: -1;
}
.anim_title1 {
    opacity: 0;
    left: 0;
    top: 35%;
    color: rgba(7, 208, 201, 0.25);
    animation: mleft 4.5s ease-out;
}
.anim_title2 {
    left: 0;
    bottom: 0;
    font-size: 50px !important;
    color: rgba(255,255,255,.75);
    animation: mright 4.5s;
    margin-left: 50px;
    margin-bottom: 25px;
}
@keyframes mleft {
    0% {
        opacity: 0;

    }

    50% {
        opacity: 1;
    }


    100% {
        transform: translateX(450px);
        opacity: 0;
        
    }
}
@keyframes mright {
    0% {
        opacity: 0;
        transform: translateX(250px);
    }

    100% {
        opacity: 1;
    }

}
.prizes img {
    display: inline-block;
    width: auto;
    height: inherit;
    max-height: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    z-index: 2;
}
.prizebutton {
    position: relative;
    height: auto;
    background-color:rgba(7,208,201,.5) ;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    color: #fff;
    margin: auto;
}
.prizebutton:hover {
    background-color: rgba(7,208,201,.75);
}
@media (max-width: 520px) {
    .header {
        position: fixed;
    }

    #welcome {
        float: left;
        margin-top: 80px !important;
        line-height: 24px;
        margin-bottom: 0;
    }

    .bgdiv {
        margin: 0;
    }

    .myBox {
        margin-top: 80px;
        margin-bottom: 125px;
    }

    .col-sm-9 input[type="button"]{
        float: left;
        margin-bottom: 5px;
        width: 100%;
}

    .footer {
        position: relative;
        float: left;
        height: 100px;
    }

    .prizes h1 {
        line-height: 25px;
    }
}
