<div ng-app="personInfoModule">

<div class="container" ng-controller="personInfoController" data-ng-init="onLoad()">
    <div class="myBox">
       <h1>Welcome to the YMITS Contest!</h1> 

        <ng-view></ng-view>
    </div>
    </div>
</div>