<div ng-app="personInfoModule">

<div class="container" ng-controller="personInfoController" data-ng-init="onLoad()">
    <h1>
        Welcome to our contest!
    </h1>
    <ng-view ></ng-view>
</div>
</div>