
<div ng-app="personInfoModule">

<div class="container" ng-controller="personInfoController" data-ng-init="onLoad()">
    <h1 id="welcome">Welcome to the YMITS Contest!</h1> 
    <div class="myBox">


        <ng-view></ng-view>
    </div>
    </div>
</div>